<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Математичний сайт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div>
        <H1>
            Онлайн помічник з математи
        </H1>
    </div>
    <div class="container">
        <h1>Ласкаво просимо до математичного сайту</h1>
        <div class="class-block">
            <h2>7 клас</h2>
            <div class="subject-buttons">
                <a href="/7class-algebra" class="btn">Алгебра</a>
                <a href="/7class-geometry" class="btn">Геометрія</a>
            </div>
        </div>
        <div class="class-block">
            <h2>8 клас</h2>
            <div class="subject-buttons">
                <a href="/8class-algebra" class="btn">Алгебра</a>
                <a href="/8class-geometry" class="btn">Геометрія</a>
            </div>
        </div>
        <div class="class-block">
            <h2>9 клас</h2>
            <div class="subject-buttons">
                <a href="/9class-algebra" class="btn">Алгебра</a>
                <a href="/9class-geometry" class="btn">Геометрія</a>
            </div>
        </div>
        <div class="class-block">
            <h2>10 клас</h2>
            <div class="subject-buttons">
                <a href="/10class-algebra" class="btn">Алгебра</a>
                <a href="/10class-geometry" class="btn">Геометрія</a>
            </div>
        </div>
    </div>
</body>
</html>
